.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.main-title {
  font-size: 35px;
  font-weight: 800;
  text-align: left;
  width: 70%;
  margin-top: 20px;
}

.main-uploadImg-bg {
  /* background: url('../../../src/assets/uploadRecipe/recipeUploadimage.jpeg'); */
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  width: 40%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
  border: 1px solid rgb(227, 227, 227);
  box-shadow: 12px 12px 10px rgb(217, 217, 217);
}

.main-imgUpload-btn {
  background-color: white;
  display: none;
  width: 100px;
  height: 100px;
  background-color: white;
}

.main-imgUpload-btn-box {
  width: 400px;
  height: 250px;
  background: url('../../../src/assets/uploadRecipe/uploadMainfoodimg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe-title-container {
  width: 80%;
  height: 300px;
  background-color: aquamarine;
}

.recipe-box {
  display: flex;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.item-title {
  min-width: 100px;
  font-size: 20px;
  margin-right: 100px;
  font-weight: 700;
}

.select-item {
  width: 140px;
  height: 30px;
  border: 1px solid rgb(179, 179, 179);
  margin: 5px;
}

.add-ingredient-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-ingredient-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-ingredient-item {
  display: flex;
  justify-content: space-between;
}

.info-box {
  display: flex;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.infoInput {
  width: 80px;
  margin: 10px;

  border: 1px solid rgb(200, 200, 200);
  padding: 7px;
  background-color: rgb(240, 240, 240);
}

.add-ingredient-input {
  margin: 5px;
  width: 300px;
  border: 1px solid rgb(200, 200, 200);
  padding: 7px;
  background-color: rgb(240, 240, 240);
  border-radius: 2px;
  height: 40px;
}

.addRecipeSequenceBtn {
  width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: #b4244a;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.saveBtn {
  width: 100px;
  margin: 20px;
  padding: 10px;
  background-color: #b4244a;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.alert-info {
}

.sequence-item-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sequence-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.alert-info {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(150, 150, 150);
}

.add-sequence-item {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.add-sequence-item-title {
  font-size: 45px;
  margin-right: 30px;
  color: #ff393f;
  font-weight: 600;
}

.add-sequence-item-input {
  min-width: 400px;
  height: 150px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgb(240, 240, 240);
}

.input-Sequence-item-box {
  display: flex;
  flex-wrap: nowrap;
}

.add-sequence-item-btn {
  width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: #b4244a;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.add-sequence-item-img-input {
  display: none;
}

.add-sequence-item-img-input-btn {
  width: 150px;
  height: 150px;
  margin-left: 50px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: 1px solid rgb(240, 240, 240);

  font-size: 130px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-step-image {
  width: 200px;
  height: 150px;
  margin-left: 50px;
}

.saveBtnBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelBtn {
  width: 100px;
  margin: 20px;
  padding: 10px;
  background-color: white;
  color: #b4244a;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  color: black;
  border: 1px solid black;
}
